<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CountryCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CountryCreator.Properties.Settings>
            <setting name="Tag" serializeAs="String">
                <value />
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="OOB" serializeAs="String">
                <value />
            </setting>
            <setting name="Capital" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RulingParty" serializeAs="String">
                <value />
            </setting>
            <setting name="ResearchSlots" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PolitPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stability" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarSupport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Convoys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Option" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToMod" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ideolog2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ideolog3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ideolog4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ideolog5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ideolog1_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog2_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog3_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog4_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog5_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog6_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog7_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog8_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog9_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog10_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog1_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog2_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog3_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog4_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog5_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog6_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog7_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog8_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog9_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog10_popularity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ideolog1_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog2_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog3_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog4_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog5_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog6_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog7_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog8_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog9_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog10_adj" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog1_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog2_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog3_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog4_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog5_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog6_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog7_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog8_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog9_loc_name_gov" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideolog10_loc_name_gov" serializeAs="String">
                <value />
            </setting>
        </CountryCreator.Properties.Settings>
    </userSettings>
</configuration>